# Application configuration
FRONTEND_URL=FRONTEND_URL
FRONTEND_BASE_URL=https://avocarbon-action-plan.azurewebsites.net
#FRONTEND_BASE_URL=http://localhost:5173
MAX_ATTACHMENT_SIZE_MB=10
ALLOWED_ATTACHMENT_EXTENSIONS=pdf,doc,docx,xls,xlsx,png,jpg,jpeg,txt,csv
OPENAI_API_KEY=
AI_ACTION_PLAN_MODEL=gpt-4.1-mini
# database configuration
DB_USER=administrationSTS
DB_PASSWORD=St$@0987
DB_HOST=avo-adb-002.postgres.database.azure.com
DB_PORT=5432
DB_NAME=Action Plan

# email configuration
SMTP_USER=administration.STS@avocarbon.com
SMTP_PASSWORD=shnlgdyfbcztbhxn
SMTP_HOST=avocarbon-com.mail.protection.outlook.com
SMTP_PORT=25

AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=action-plan-files