# Application configuration
FRONTEND_URL=FRONTEND_URL

# database configuration
DB_USER=administrationSTS
DB_PASSWORD=St$@0987
DB_HOST=avo-adb-002.postgres.database.azure.com
DB_PORT=5432
DB_NAME=Action Plan

# email configuration
SMTP_USER=administration.STS@avocarbon.com
SMTP_PASSWORD=shnlgdyfbcztbhxn
SMTP_HOST=avocarbon-com.mail.protection.outlook.com
SMTP_PORT=25